# Ignore huge static page export
/Champions – A marca campeã.html

# Ignore OS files and temp files
.DS_Store
Thumbs.db
*.bak
*.tmp

# Ignorar backups grandes (acima do limite do GitHub)
documentacao-projeto/_backup/*.sql
documentacao-projeto/_backup/*.zip
*.sql
*.zip

# Ignorar pasta de imagens originais
/imagens-originais/
